{% extends 'base.html' %}
{% load nav %}
{% block title %}
    {% if page.meta_title %}
        {{ page.meta_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block description %}{{ page.meta_description }}{% endblock %}
{% block keywords %}{{ page.meta_keywords }}{% endblock %}

{% block content_left %}
    {% block page_title %}<h1 style="{% if page.color %}color: {{ page.color }};{% endif %}">{{ page.title }}</h1>{% endblock %}
    {% block page_content %}{{ page.content|safe|linebreaks }}{% endblock %}
    {% block page_content_secondary %}
        <div class="content--secondary">{{ page.content_secondary|safe|linebreaks }}</div>
    {% endblock %}
{% endblock %}

{% block content_right %}
    <div class="l-panelFixed l-panelFixed--right">
        {% if page.media_panel_default %}
            {% include 'media_panel.html' with panel=page.media_panel_default is_default=True %}
        {% endif %}
        {% for panel in page.media_panels.all %}
            {% include 'media_panel.html' with panel=panel %}
        {% endfor %}
    </div>
{% endblock %}