// Base

a {
    color: @color-black;
    text-decoration: none;
}

blockquote,
blockquote p {
    color: @color-gray--bgText; 
}
blockquote {
    margin: 0 auto;
    max-width: 420px;
}
blockquote p {
    margin-bottom: 1rem;
}

body {
    .f-roboto--regular();
    background: @color-gray--bg;
    color: @color-black;
    -webkit-font-smoothing: antialiased;
}

cite {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}
cite:before {
    content: '\2013';
    padding-right: 4px;
}

h1,
h2,
h3,
p {
    color: @color-black1;
}

h1,
h2,
h3 {
    .f-roboto--regular();
    font-size: @fontSize-headline;
    line-height: @lineHeight-headline;
    padding-top: 1.6rem;
}

html {
    font-size: 10px;
}
@media (min-width: @mq-smMin) {
    html {
        font-size: 12px;
    }
}
@media (min-width: @mq-mdMin) {
    html {
        font-size: 14px;
    }
}
@media (min-width: @mq-xxlMin) {
    html {
        font-size: 18px;
    }
}

img {
    max-width: 100%;
}

p {
    font-size: @fontSize-body;
    line-height: @lineHeight-body;
    letter-spacing: .01rem;
    margin: 1.2rem 0 0;
}
