// Components

.blocksList {
    .f-adobeCaslonPro--regular();
    list-style-type: none;
    padding: 0;
}

.blocksList > li { position: relative; }

.blocksList-block {
    .m-opacity(.5);
    .m-transition(all);
    font-size: 2.4rem;
    display: table;
    height: 100%;
    width: 100%;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.no-touch .blocksList-block:hover {
    background-color: @color-black--opaque;
}
.blocksList > li.is-active .blocksList-block {
    .m-opacity(1);
}

.blocksList-border {
    .m-transform(scale(0, 1));
    .m-transitionTransform(.3s);
    background-color: @color-black;
    bottom: 0;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}
.blocksList > li.is-active .blocksList-border {
    .m-transform(scale(1, 1));
}

.blocksList-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 0 3.6rem;
}

.mediaPanel {
    .m-opacity(0);
    .m-transition(opacity);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.mediaPanel.is-active {
    .m-opacity(1);
}

.mediaPanelTarget {
    border-bottom: 3px solid @color-black;
    cursor: default;
}