// Grid

.g-wrapper {
    .m-clearfix();
    margin-right: auto;
    margin-left: auto;
    padding: 0 (@width-gutter / 2);
}

.g-row {
    .m-clearfix();
    margin-left: (@width-gutter / -2);
    margin-right: (@width-gutter / -2);
}

.g-col {
    float: left;
    padding: 0 (@width-gutter / 2);
    min-height: 1px;
}

.g-col,
.g-col--1,
.g-col--2,
.g-col--3,
.g-col--4,
.g-col--5,
.g-col--6,
.g-col--7,
.g-col--8,
.g-col--9,
.g-col--10,
.g-col--11,
.g-col--12 {
    width: 100%;
}

@media (min-width: @mq-smMin) {
    .g-col--smMin-1 { width: percentage(1 / 12); }
    .g-col--smMin-2 { width: percentage(2 / 12); }
    .g-col--smMin-3 { width: percentage(3 / 12); }
    .g-col--smMin-4 { width: percentage(4 / 12); }
    .g-col--smMin-5 { width: percentage(5 / 12); }
    .g-col--smMin-6 { width: percentage(6 / 12); }
    .g-col--smMin-7 { width: percentage(7 / 12); }
    .g-col--smMin-8 { width: percentage(8 / 12); }
    .g-col--smMin-9 { width: percentage(9 / 12); }
    .g-col--smMin-10 { width: percentage(10 / 12); }
    .g-col--smMin-11 { width: percentage(11 / 12); }
    .g-col--smMin-12 { width: percentage(12 / 12); }

    .g-col--smMinPush-1 { margin-left: percentage(1 / 12); }
    .g-col--smMinPush-2 { margin-left: percentage(2 / 12); }
    .g-col--smMinPush-3 { margin-left: percentage(3 / 12); }
    .g-col--smMinPush-4 { margin-left: percentage(4 / 12); }
    .g-col--smMinPush-5 { margin-left: percentage(5 / 12); }
    .g-col--smMinPush-6 { margin-left: percentage(6 / 12); }
    .g-col--smMinPush-7 { margin-left: percentage(7 / 12); }
    .g-col--smMinPush-8 { margin-left: percentage(8 / 12); }
    .g-col--smMinPush-9 { margin-left: percentage(9 / 12); }
    .g-col--smMinPush-10 { margin-left: percentage(10 / 12); }
    .g-col--smMinPush-11 { margin-left: percentage(11 / 12); }
}
