// Grid

.g-wrapper {
    .m-clearfix();
    margin-right: auto;
    margin-left: auto;
    padding: 0 (@width-gutter / 2);
}

.g-row {
    .m-clearfix();
    margin-left: (@width-gutter / -2);
    margin-right: (@width-gutter / -2);
}

.g-col {
    float: left;
    padding: 0 (@width-gutter / 2);
    min-height: 1px;
}

.g-col {
    width: 100%;
}

.m-gridColumns(~'');
.m-gridColumnsPush(~'push-');

@media (min-width: @mq-smMin) {
    .m-gridColumns(~'smMin-');
    .m-gridColumnsPush(~'smMinPush-');
}

@media (min-width: @mq-mdMin) {
    .m-gridColumns(~'mdMin-');
    .m-gridColumnsPush(~'mdMinPush-');
}

@media (min-width: @mq-lgMin) {
    .m-gridColumns(~'lgMin-');
    .m-gridColumnsPush(~'lgMinPush-');
}

@media (min-width: @mq-xlMin) {
    .m-gridColumns(~'xlMin-');
    .m-gridColumnsPush(~'xlMinPush-');
}

