// Nav

.navList {
    .f-helvetica--bold();
    list-style-type: none;
    padding: 0;
}
@media (min-width: @mq-smMin) {
    .navList--blocks {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: scroll;
    }
}

.navList > li {
    display: none;
}
.navList > li.is-active,
.navList--blocks > li {
    display: block;
}
.navList--blocks > li {
    height: 25%;
}

.navList > li > a {
    text-decoration: none;
}
.navList--blocks > li > a {
    display: table;
    height: 100%;
    width: 100%;
}

.navList--blocks > li > a > span {
    display: table-cell;
    vertical-align: middle;
}