// Nav

.navList {
    .f-helvetica--bold();
    list-style-type: none;
    padding: 0;
}

.navList > li {
    display: none;
}
.navList > li.is-active,
.navList--blocks > li,
.navList--displayAll > li {
    display: block;
}
.navList--blocks > li {
    height: 400px;
}

.navList > li > a {
    text-decoration: none;
}
.navList--blocks > li > a {
    display: table;
    height: 100%;
    width: 100%;
}

.navList--blocks > li > a > span {
    display: table-cell;
    vertical-align: middle;
}