// Nav

.navList {
    list-style-type: none;
    padding: 0;
    margin-left: -1rem;
    margin-top: -1.5rem;
}

.navList > li {
    display: none;
    position: relative;
}
.navList > li.is-activePrefix,
.navList > li.is-always,
.navList--displayAll > li {
    display: block;
}

.navList > li > a {
    .m-opacity(.5);
    .m-transition(opacity);
    display: inline-block;
    padding: 1.5rem 1rem 0;
    text-decoration: none;

    .f-adobeCaslonPro--regular();
    font-size: @fontSize-jumbo;
    line-height: @lineHeight-jumbo;
}
.navList > li > a:hover,
.navList > li.is-active > a {
    .m-opacity(1);
}
