// Variables

@mq-xsMax: 767px;
@mq-smMin: (@mq-xsMax + 1);
@mq-smMax: 1024px;
@mq-mdMin: (@mq-smMax + 1);
@mq-mdMax: 1280px;
@mq-lgMin: (@mq-mdMax + 1);
@mq-lgMax: 1440px;
@mq-xlMin: (@mq-lgMax + 1);

@width-gutter: 0;
