// Variables

@color-black1:  rgb(38, 38, 38); // #262626
@color-black2:  rgb(64, 64, 64); // #404040
@color-black3:  rgb(76, 76, 76); // #4c4c4c

@color-black:           @color-black1;
@color-black--opaque:   rgba(38, 38, 38, .25);

@color-gray:        rgb(242, 241, 240); // #f2f1f0
@color-gray--bg:    @color-gray;

@color-white:       rgb(255, 255, 255); // #FFFFFF
@color-white--bg:   @color-white;

@color-transparent:     rgba(38, 38, 38, 0);

@easing-inOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
@easing-default:    @easing-inOutCubic;

// @fontSize-tiny: 1.3rem;
@fontSize-caption:      1.2rem;
@lineHeight-caption:    2.0rem;
@fontSize-body:         1.4rem;
@lineHeight-body:       2.4rem;
@fontSize-subhead:      1.6rem;
@lineHeight-subhead:    2.4rem;
@fontSize-headline:     2.4rem;
@lineHeight-headline:   3.2rem;
@fontSize-display:      3.4rem;
@lineHeight-display:    4.8rem;

@mq-xsMax:  767px;
@mq-smMin:  (@mq-xsMax + 1);
@mq-smMax:  1024px;
@mq-mdMin:  (@mq-smMax + 1);
@mq-mdMax:  1280px;
@mq-lgMin:  (@mq-mdMax + 1);
@mq-lgMax:  1440px;
@mq-xlMin:  (@mq-lgMax + 1);
@mq-xlMax:  1824px;
@mq-xxlMin: (@mq-xlMax + 1);

@speed-default:         .2s;
@speed-defaultDelay:    0s;

@width-gutter: 0;
