DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'lacy',
        'HOST': 'localhost',
        'USER': 'root',
        'PASSWORD': '',
    }
}

SECRET_KEY = 'rpe&#y6zyl(zqr#6wz6wf*e45_*9w*18vapzx(^izx^lo30=$m'
