{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'built/css/main.css' %}">

        <script type="text/javascript" src="{% static MODERNIZR_PATH %}"></script>
    </head>
    <body>
        <div id="l_wrapper" class="g-wrapper">
            <div class="g-col g-col--smMin-6 l-panel">
                {% include 'nav.html' %}
                {% block content_left %}{% endblock %}
            </div>
            <div class="g-col g-col--smMin-6 l-panel">
                {% block content_right %}{% endblock %}
            </div>
        </div>

        {% if REQUIREJS_BUILD %}
            <script type="text/javascript" src="{% static 'built/js/main.js' %}"></script>
        {% else %}
            <script type="text/javascript">
                var require = {
                    baseUrl: "{% static 'js' %}",
                };
            </script>
            <script type="text/javascript" src="{% static 'js/lib/require.js' %}"></script>
        {% endif %}

        <script type="text/javascript">
            require(['main']);
        </script>
    </body>
</html>
