{% load nav %}

<nav>
    <ul class="navList{% if blocks %} navList--blocks{% endif %}">
        {% if not blocks %}
            <li class="is-active"><a href="{% url 'home' %}"><span>Matt Taube</span></a></li>
        {% endif %}
        <li class="{% is_active request 'profile' %}"><a href="{% url 'profile' %}"><span>Profile</span></a></li>
        <li><a href=""><span>Words</span></a></li>
        <li><a href=""><span>Work</span></a></li>
        <li class="{% is_active request 'contact' %}"><a href="{% url 'contact' %}"><span>Contact</span></a></li>
    </ul>
</nav>