{% load nav %}

<nav>
    <ul class="navList{% if display_all %} navList--displayAll{% endif %}">
        <li class="is-always {% is_active request 'home' %}"><a href="{% url 'home' %}">Matthew Taube</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li class="{% is_active_prefix request 'portfolio' %}"><a href="{% url 'portfolio' %}">Work</a></li>
        <li class="{% is_active_prefix request 'blog_index' %}"><a href="{% url 'blog_index' %}">Words</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
</nav>